﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Easy Tech Global<br />
    Barcelona<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">info@etg.global</a><br />
</address>