﻿@{
    ViewBag.Title = "Home Page";
}
<h1>Backend Test - MVC Authentication and Authorization</h1>
<h2>Congrats! Your App is running! Well, let's see if you can do the following tasks</h2>
<h3>* Create another user on App startup (User a@a.com / Password: a@a.com)</h3>
<h3>* Create another role on App startup named "testRole"</h3>
<h3>* Fix the login</h3>
<h3>* Fix the registration</h3>